body{
    background-image: url(../Images/background.png);
    background-color: #e8e8e8;
    background-repeat: repeat;
    overflow-y: scroll;
    overflow-x: none;
}

.starter-template{
    padding:40px 15px;
    text-align:center;
}

#hlpf_menu, #hlpf_menu ul li ul{
    background-color: #2060c0;
    border-radius: 0px;
    margin-bottom: 0px;
}

#hlpf_menu ul li ul{
    background-color: #236ad5;
}

.hlpf_white_text, .hlpf_white_text ul li a {
    color: white;
}

.hlpf_white_text ul li a:hover {
    background-color: #2a78ea;
}

.hlpf_newsborder {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    color: black;
    padding-top: 10px;
}

hr {   
    border: 1px solid #2060c0;
}

.hlpf_large_news_box{
    min-height: 200px;
    max-height: auto;
}

.hlpf_no_round_border a{
    border-radius: 0px;
}

#hlpf_footer{
    background-color: #2060c0;
    color: white;
}

#hlpf_footer div div{
  padding: 30px;  
}

#hlpf_footer h2{
    margin-bottom: 15px;
}

hlpf_bottom_margin{
    margin-bottom: 15px;
}

#hlpf_footer_contact a{
    color: lightblue;
}

#hlpf_footer_links{
    list-style-type: none;
    padding: 0;
}

#hlpf_footer_links li a{
    color: white
}

#social_media a{
    color: white;
    margin-right: 50px;
}

.hlpf_margin_botom img {
    margin-bottom: 5px;
}

.hlpf_margin_botom img:hover {
    border: 1px solid #337ab7;
}

.hlpf_no_margin_padding {
    margin: 0px;
    padding: 0px;
}

.hlpf_facebok_like {
    min-height: 22px;
}

/* Nav drop down mouse over when on desktop  */
@media (min-width:767px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* Bootstrap Override   */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #337ab7;
}

/* ========== Temp styles  =============== */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
