body {
    background-color: #d1d1d1;
    overflow-y: scroll;
    overflow-x: none;
}

#header{
    /*padding-top: 20px;*/
    background-image: url(../Images/background.png);
}

hr { border: 1px solid #2060c0; }

p { word-wrap: break-word; }

li {
  display: block;
}

textarea.LanCMSseatmap-gen {
  font-family: monospace, Consolas, Monaco, Lucida Console,
                Liberation Mono, DejaVu Sans Mono,
                Bitstream Vera Sans Mono, Courier New;
  width: 100%;
  resize: vertical;
}

.LanCMSequal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

#LanCMSbottom_margin { margin-bottom: 15px; }

#LanCMSfooter {
    background-color: #2060c0;
    color: white;
}
#LanCMSfooter div div { padding: 30px; }
#LanCMSfooter h2 { margin-bottom: 15px; }

#LanCMSfooter_contact a { color: lightblue; }

#LanCMSfooter_links {
    list-style-type: none;
    padding: 0;
}
#LanCMSfooter_links li a { color: white }

#LanCMSmenu,
#LanCMSmenu ul li ul {
    background-color: #2060c0;
    border-radius: 0px;
    margin-bottom: 0px;
}
#LanCMSmenu ul li ul { background-color: #236ad5; }

#social_media a {
    color: white;
    margin-right: 50px;
}

.LanCMSadmin_seatmap {
    list-style: none;
    -webkit-padding-start: 15px;
}

.LanCMSadminmenu { overflow-y: auto; }
.LanCMSadminmenu ul { list-style: none; }
.LanCMSadminmenu ul li { float: left; }
.LanCMSadminmenu button { width: 100%; }

.LanCMSadminmenu a:not([alt="Sort up"]):not([alt="Sort down"]),
.LanCMSadminmenu span.btn,
#admin_panel a.btn-info {
    display: block;
}

.LanCMScontentbox {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.LanCMSBlack_Border {
    border: 1px solid black;
}

.LanCMSfacebok_like { min-height: 22px; }

.LanCMSlarge_news_box {
    min-height: 200px;
    max-height: auto;
}

.LanCMSmargin_botom img { margin-bottom: 5px; }
.LanCMSmargin_botom img:hover { border: 1px solid #337ab7; }

.LanCMSnews {
    overflow-x: none;
    min-height: 222px;
    word-wrap: break-word;
}

.LanCMSno_margin_padding {
    margin: 0px;
    padding: 0px;
}

.LanCMSno_round_border a { border-radius: 0px; }

.LanCMSwhite_text,
.LanCMSwhite_text ul li a {
    color: white;
}
.LanCMSwhite_text ul li a:hover { background-color: #2a78ea; }

/* Nav drop down mouse over when on desktop  */
@media (min-width:767px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* Bootstrap Override   */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #337ab7;
}

/* For admin menu. */
.list-group .list-group-item { margin-bottom: 4px; }

.list-group a:hover { text-decoration: none; }

#generated-seat-map-legend ul li {
  float: left;
  margin-right: 5px;
}

/* ========== Temp styles  =============== */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
